.types__h2 {
    text-align: right;
}
.h2__text-block_text {
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
    margin: 0px;
}
.position-h2 {
    position: absolute;
    top: 110px;
    left: 0px;
}