.types__h2 {
    height: 69px;
}
.h2_text-block {
    width: 70%;
    text-align: left;
}
.h2__text-block_text {
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
    margin: 0px;
}
.position-h2 {
    position: absolute;
    top: 110px;
    left: 0px;
}
.h2_position-top {
    position: absolute;
    top: 0px;
}
.h2_position-text {
    position: relative;
    left: 88px;
}