div(class='types__h2 position-h2')
    div(class='types__h2_top-block inline h2_position-top')
        h2(class='types__h2_top-block_text top-types margin-top-types') H2
    div(class='types__h2_text-block inline') 
        h2(class='types__h2_text-block_text h2_position-text') Next one is the item title inside<br> widgets