div(class='formElements')
    include textField/textField.pug
    include dropDown/dropDown.pug
    include maskedTextField/maskedTextField.pug
    include dateDropDown/dateDropDown.pug
    include filterDateDropDown/filterDateDropDown.pug
    include subscribtionTextField/subscribtionTextField.pug
    include checkBox/checkBox.pug