.types__body {
    height: 70px;
}
.position-body {
    position: absolute;
    top: 283px;
    left: 0px;
}
.body-position-top {
    position: absolute;
    top: 0px;
}
.body-position-text {
    position: relative;
    top: 0px;
    left: 88px;
}
.types__body_text-block_text {
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
.types__body_text-block {
    width: 70%;
    height: 50px;
    margin: 0px;
}
.types__body_top-block {
    height: 50px;
    text-align: right;
    margin-top: 0px;
}
.types__body_top-block_text {
    margin-top: 0px;
    padding-top: 0px;
}