div(class='types__body position-body')
    div(class='types__body_top-block inline body-position-top')
        h3(class='types__body_top-block_text top-types margin-top-types') Body 
    div(class='types__body_text-block inline')
        h3(class='types__body_text-block_text body-position-text') This is the body text which is used for most of the design, like paragraphs, lists, etc.