.headersFooters__headerAuthorized {
    width: 1440px;
    height: 70px;
    background-color: white;
    font-family: Montserrat-Medium;
}
.headersFooters__headerAuthorized_logo {
    width: 105px;
    height: 70px;
    display: inline-block;
}
.headersFooters__headerAuthorized_account {
    display: inline-block;
    width: 100px;
    height: 70px;
}
.headersFooters__headerAuthorized_account_name {
    display: inline-block;
    margin: 0px;
    line-height: 70px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.50);
    padding-left: 5px;
}
.headersFooters__headerAuthorized_account_name:hover {
    cursor: pointer;
    color: rgba(31, 32, 65, 1);
}
.margin-logo-box-a {
    margin-top: 0px;
    margin-left: 140px;
}
.margin-logo-a {
    position: relative;
    top: 15px;
}
