div(class='headersFooters__headerAuthorized')
    div(class='headersFooters__headerAuthorized_logo margin-logo-box-a')
        img(class='headersFooters__headerAuthorized_logo_img margin-logo-a' src='headersFooters/headerAuthorized/image/Logo.svg')
    include nav/nav.pug
    div(class='headersFooters__headerAuthorized_account')
        h1(class='headersFooters__headerAuthorized_account_name') Юлий Цезарь