.headersFooters__headerAuthorized {
    width: 100%;
    height: 70px;
    background-color: white;
    font-family: $fontStack-light;
}
.headersFooters__headerAuthorized_logo {
    width: 8%;
    height: 70px;
    display: inline-block;
    margin: 0;
}
.headersFooters__headerAuthorized_account {
    display: inline-block;
    width: 11%;
    height: 70px;
    margin-left: 1%;
}
.headersFooters__headerAuthorized_account_name {
    display: inline-block;
    margin: 0px;
    line-height: 70px;
    font-size: 14px;
    color: $darkShade50;
    padding-left: 5px;
}
@media screen and (max-width:1000px) {
    .headersFooters__headerAuthorized_account_name {
        font-size: 11px;
    }
}
@media screen and (max-width: 1000px) {
    .headersFooters__headerAuthorized_account_name {
        margin-left: 10%;
    }
}
.headersFooters__headerAuthorized_account_name:hover {
    cursor: pointer;
    color: $darkShade100;
}
.margin-logo-box-a {
    margin-top: 0px;
    margin-left: 10%;
}
.margin-logo-a {
    position: relative;
    top: 15px;
}
.margin-authorized {
    margin-bottom: 40px;
}