.colors__darkShade25 {
    width: 281px;
    height: 70px;
}
.colors__darkShade25_square {
    width: 70px;
    height: 70px;
    background-color: rgba(31, 32, 65, 0.25);
    border-radius: 6px;
}
.colors__darkShade25_text {
    width: 171px;
    height: 70px;
    line-height: 35px;
    font-style: normal;
    font-size: 9px;
    display: flex;
    align-items: center;
}

.square4 {
    position: absolute;
    left: 150px;
    top: 415px;
}