div(class='colors__darkShade100 square')
    div(class='colors__darkShade100_square')
    div(class='colors__darkShade100_text text')
        h1 Dark Shade 100% <span class='text_smaller'>#1F2041</span>
