.colors__purple {
    width: 281px;
    height: 70px;
}
.colors__purple_square {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background-color: #bc9cff;
}
.colors__purple_text {
    width: 171px;
    height: 70px;
    line-height: 35px;
    font-style: normal;
    font-size: 10px;
    display: flex;
    align-items: center;
}
.square6 {
    position: absolute;
    left: 150px;
    top: 595px
}