div(class='formElements__dropDown')
    h1(class='formElements__dropDown_text') DROPDOWN 
    input(class='formElements__dropDown_field' type="text", name="numGuest" placeholder='Сколько гостей')
    div(class='formElements__dropDown_hideElem')
        h1(class='formElements__dropDown_hideElem_adult') Взрослых <button class='formElements__dropDown_hideElem_buttonCount margin-buttonCount'>+</button><button class='formElements__dropDown_hideElem_buttonCount'>-</button>
        h1(class='formElements__dropDown_hideElem_notAdult') Детей <button class='formElements__dropDown_hideElem_buttonCount margin-buttonCount'>+</button><button class='formElements__dropDown_hideElem_buttonCount'>-</button>