div(class='formElements__subscribtionTextField')
    h1(class='formElements__subscribtionTextField_text') SUBSCRIPTION TEXT FIELD
    input(class='formElements__subscribtionTextField_field' type='email' placeholder='Email')