div(class='formElements__subscribtionTextField')
    h1(class='formElements__subscribtionTextField_text') SUBSCRIPTION TEXT FIELD
    div(class='formElements__subscribtionTextField_fieldBtn')
     input(class='formElements__subscribtionTextField_fieldBtn_field' type='email' placeholder='Email')
     input(class='formElements__subscribtionTextField_fieldBtn_button' type="button")