div(class='formElements__maskedTextField')
    h1(class='formElements__maskedTextField_text') MASKED TEXT FIELD 
    input(class='formElements__maskedTextField_field' type="text", name="maskedText" placeholder='ДД.ММ.ГГГГ')