div(class='headersFooters__headerNotAuthorized margin-not-authorized')
    div(class='headersFooters__headerNotAuthorized_logo margin-logo-box')
        img(class='headersFooters__headerNotAuthorized_logo_img margin-logo' src='headersFooters/headerNotAuthorized/image/Logo.svg')
    include nav/nav.pug
    button(class='headersFooters__headerNotAuthorized_signin') Войти
    button(class='headersFooters__headerNotAuthorized_login margin-login') Зарегестрироваться
