div(class='headersFooters__footerFirst')
    div(class='headersFooters__footerFirst_logo elemFirstFooter')
        img(class='headersFooters__footerFirst_logo_image' src='assets/image/Logo.svg')
        h1(class='headersFooters__footerFirst_logo_text') Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    div(class='headersFooters__footerFirst_nav elemFirstFooter')
        h1(class='headersFooters__footerFirst_nav_headtext headText') Навигация
        h1(class='headersFooters__footerFirst_nav_aboutUs hover') О нас
        h1(class='headersFooters__footerFirst_nav_news hover') Новости
        h1(class='headersFooters__footerFirst_nav_support hover') Служба поддержки
        h1(class='headersFooters__footerFirst_nav_services hover') Услуги
    div(class='headersFooters__footerFirst_aboutUs elemFirstFooter')
        h1(class='headersFooters__footerFirst_aboutUs_headtext headText') О нас
        h1(class='headersFooters__footerFirst_aboutUs_aboutService hover') О сервисе
        h1(class='headersFooters__footerFirst_aboutUs_ourTeam hover') Наша каманда
        h1(class='headersFooters__footerFirst_aboutUs_vacansiec hover') Вакансии
        h1(class='headersFooters__footerFirst_aboutUs_investors hover') Инвесторы
    div(class='headersFooters__footerFirst_support elemFirstFooter')
        h1(class='headersFooters__footerFirst_support_headtext headText') Служба поддержки
        h1(class='headersFooters__footerFirst_support_agrees hover') Соглашения
        h1(class='headersFooters__footerFirst_support_group hover') Сообщества
        h1(class='headersFooters__footerFirst_support_withUs hover') Связь с нами
    div(class='headersFooters__footerFirst_subscribe elemFirstFooter')
        h1(class='headersFooters__footerFirst_subscribe_headText headText') Подписка
        h1(class='headersFooters__footerFirst_subscribe_text') Получайте специальные предложения и новости сервиса
        div(class='headersFooters__footerFirst_subscribe_mailBox')
            input(class='headersFooters__footerFirst_subscribe_mailBox_mail' type="email", name="mailForSubscribe" placeholder='Введите Email')
            input(class='headersFooters__footerFirst_subscribe_mailBox_push' type='button' name='pushMail')
div(class='headersFooters__footerFirst_down margin-footerFirst-down')
    h1(class='headersFooters__footerFirst_down_text') Copyright © 2018 Toxin отель. Все права защищены.
    div(class='headersFooters__footerFirst_down_icons')
        img(class='headersFooters__footerFirst_down_twitter icons' src='assets/image/twitter.png')
        img(class='headersFooters__footerFirst_down_facebook icons' src='assets/image/facebook.png')
        img(class='headersFooters__footerFirst_down_instagramm icons' src='assets/image/instagramm.png')