div(class='headersFooters__footerFirst')
    div(class='headersFooters__footerFirst_logo elemFirstFooter')
    div(class='headersFooters__footerFirst_nav elemFirstFooter')
    div(class='headersFooters__footerFirst_aboutUs elemFirstFooter')
    div(class='headersFooters__footerFirst_support elemFirstFooter')
    div(class='headersFooters__footerFirst_subscribe elemFirstFooter')