.colorsTypes__types {
    width: 436px;
    height: 370px;
}
.position {
    position: absolute;
    top: 145px;
    left: 846px;
}
.top-types {
    font-family: Montserrat-Light;
    width: 55px;
    font-style: normal;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.25);
}
.margin-top-types {
    padding: 0px;
    margin-right: 40px;
    margin-left: 0px;
}

.inline {
    display: inline-block;
    margin: 0px;
}