.colors__darkShade50 {
    width: 281px;
    height: 70px;
}
.colors__darkShade50_square {
    width: 70px;
    height: 70px;
    background-color: $darkShade50;
    border-radius: 6px;
}
.colors__darkShade50_text {
    width: 171px;
    height: 70px;
    line-height: 35px;
    font-style: normal;
    font-size: 9px;
    display: flex;
    align-items: center;
}

.square3 {
    position: absolute;
    left: 150px;
    top: 324.5px;
}