.headersFooters__footerSecond {
    width: 768px;
    height: 367px;
    background-color: white;
    font-size: 6px;
    font-family: Montserrat;
    line-height: 20px;
    color: $darkShade75;
    text-align: center;
}
.margin-footerSecond {
    margin: auto;
    margin-top: 20px;
}
.headersFooters__footerSecond_logo {
    margin-top: 13%;
}
.headersFooters__footerSecond_icons {
    width: 112px;
    height: 24px;
    display: inline-flex;
}