div(class='headersFooters__footerSecond margin-footerSecond')
    img(class='headersFooters__footerSecond_logo' src='headersFooters/footerSecond/image/Logo.svg')
    h1(class='headersFooters__footerSecond_down_text') Copyright © 2018 Toxin отель. Все права защищены.
    div(class='headersFooters__footerSecond_icons')
        img(class='headersFooters__footerSecond_twitter icons' src='headersFooters/footerSecond/image/twitter.png')
        img(class='headersFooters__footerSecond_facebook icons' src='headersFooters/footerSecond/image/facebook.png')
        img(class='headersFooters__footerSecond_instagramm icons' src='headersFooters/footerSecond/image/instagramm.png')