div(class='formElements__dateDropDown')
    input(type='text' id='input' class='formElements__dateDropDown_dateTextField datepicker-here' placeholder='ДД.ММ.ГГГ')
    input(type='text' id='input1' class='formElements__dateDropDown_dateTextField datepicker-here' placeholder='ДД.ММ.ГГГ')