.colors__green {
    width: 281px;
    height: 70px;
}
.green_square {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background-color: #6fcf97;
}
.green_text {
    width: 171px;
    height: 70px;
    line-height: 35px;
    font-style: normal;
    font-size: 10px;
    display: flex;
    align-items: center;
}
.square7 {
    position: absolute;
    left: 150px;
    top: 685px
}