div(class='formElements__filterDateDropDown')
    h1(class='formElements__filterDateDropDown_text') FILTER DATE DROP DOWN
    input(class='formElements__filterDateDropDown_field' type='text' id='filterDate')