.formElements__filterDateDropDown {
    width: 320px;
    height: 67px;
    font-family: $fontStack-bold;
    font-size: 6px;
    display: block;
    padding-top: 5px;
    margin-bottom: 10px;
    clear: both;
}
.formElements__filterDateDropDown_field {
    width: 316px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid $darkShade25;
    margin-top: 2px;
    background-image: url(assets/image/expand_more.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 280px;
}
.formElements__filterDateDropDown_field:hover{
    border: 1px solid $darkShade50;
    cursor: pointer;
}
.formElements__filterDateDropDown_field:focus {
    outline: 0;
    outline-offset: 0;
    border: 1px solid $darkShade50;
}
.formElements__filterDateDropDown_field::-webkit-input-placeholder {
    font-family: $fontStack-light;
}