.types__h1 {
    height: 70px;
}
.types__h1_text-block {
    width: 70%;
    text-align: left;
}
.types__h1_top-block {
    margin-top: 0px;
    text-align: right;
}
.types__h1_top-block_text {
    padding: 0px;
    margin-top: 0px;
}
.types__h1_text-block_text {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    margin: 0px;
    
}
.h1_position-text {
    position: relative;
    left: 88px;
    top: 0px;
}
.position-h1 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.h1_position-top {
    position: absolute;
    top: 0px;
}