.types__h1 {
    height: 69px;
}
.h1__text-block {
    width: 70%;
    text-align: left;
}
.h1__top-block {
    margin-top: 0px;
}
.h1__top-block_text {
    padding: 0px;
    margin-top: 0px;
}
.h1__text-block_text {
    font-size: 26px;
    font-style: normal;
    font-weight: bold;
    margin: 0px;
    
}
.h1_position-text {
    position: relative;
    left: 88px;
    top: 0px;
}
.position-h1 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.h1_position-top {
    position: absolute;
    top: 0px;
}