div(class='types__h1 position-h1')
    div(class='h1__top-block inline h1_position-top')
        h1(class='h1__top-block_text top-types margin-top-types') H1 
    div(class='h1__text-block inline') 
        h1(class='h1__text-block_text h1_position-text') This one is the sub-section or widget title