div(class='formElements__checkBox')
    h1(class='formElements__checkBox_text') CHECKBOX BUTTONS
    div(class='formElements__checkBox_checkfor')
        <input type="checkbox" id="smoking" name="smoking">
        <label for="smoking"><span></span>Можно курить</label>
        <br>
        <input type="checkbox" id="pets" name="pets">
        <label for="pets"><span></span>Можно с питомцами</label>
        <br>
        <input type="checkbox" id="guests" name="guests">
        <label for="guests"><span></span>Можно пригласить гостей (до 10 человек)</label>