@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(fonts/Montserrat-Medium.ttf);
}
@import '../assets/main';
.headersFooters {
    width: 1440px;
    height: 1350px;
    background-color: #F4F4F6;
}