<!doctype html>
html
    head
        meta(charset='utf-8')
    body
        div(class='headersFooters')
            include headerNotAuthorized/headerNotAuthorized.pug
            include headerAuthorized/headerAuthorized.pug
            include footerFirst/footerFirst.pug
    script(src='headersFooters/loadHeadersFootersStyle.js')
    script(src='headersFooters/headerNotAuthorized/loadHeaderNotAuthorizedStyle.js')
    script(src='headersFooters/headerNotAuthorized/nav/loadNavstyle.js')
    script(src='headersFooters/headerAuthorized/loadHeaderAuthorizedStyle.js')
    script(src='headersFooters/headerAuthorized/nav/loadNavStyle.js')
    script(src='headersFooters/footerFirst/loadFooterFirstStyle.js')