<!doctype html>
html
    head
        meta(charset='utf-8')
    body
        div(class='headersFooters')
            include ./headerNotAuthorized/headerNotAuthorized.pug
            include ./headerAuthorized/headerAuthorized.pug
    script(src='loadHeadersFootersStyle.js')
    script(src='headerNotAuthorized/loadHeaderNotAuthorizedStyle.js')
    script(src='headerNotAuthorized/nav/loadNavstyle.js')
    script(src='headerAuthorized/loadHeaderAuthorizedStyle.js')
    script(src='headerAuthorized/nav/loadNavStyle.js')