.headerAuthorized__nav {
    width: 500px;
    height: 70px;
    display: inline-block;
    font-size: 14px;
    margin: 0px;
}
.margin-nav-authorized {
    margin-left: 400px;
}
.headerAuthorized__nav_nav-bar {
    width: 447px;
    height: 70px;
    line-height: 70px;
    color: $darkShade50;
    margin: 0px;
}
.headerAuthorized__nav_nav-bar_elements {
    display: inline-block;
    margin-left: 20px;
}

.headerAuthorized__nav_nav-bar_elements:hover {
    color: black;
    cursor: pointer;
}
.checked {
    color: black;
}