div(class='headerAuthorized__nav margin-nav-authorized')
    ul(class='headerAuthorized__nav_nav-bar') 
        li(class='headerAuthorized__nav_nav-bar_elements checked') О нас
        li(class='headerAuthorized__nav_nav-bar_elements srvices') Услуги <img src='headerAuthorized/nav/image/expand_more.svg'>
        li(class='headerAuthorized__nav_nav-bar_elements') Вакансии
        li(class='headerAuthorized__nav_nav-bar_elements') Новости
        li(class='headerAuthorized__nav_nav-bar_elements agreements') Соглашения <img src='headerAuthorized/nav/image/expand_more.svg'>
        