.colors__darkShade75 {
    width: 281px;
    height: 70px;
}
.darkShade75_square {
    background-color: rgba(31, 32, 65, 0.75);
    width: 70px;
    height: 70px;
    border-radius: 6px;
}
.darkShade75_text {
    width: 171px;
    height: 70px;
    line-height: 35px;
    font-style: normal;
    font-size: 10px;
    display: flex;
    align-items: center;
}
.text2 {
    position: absolute;
    left: 110px;
    top: 0px;
}
.square2 {
    position: absolute;
    left: 150px;
    top: 235px;
}
.text_smaller2{
    font-size: 20px;
    font-weight: 50;
}