@font-face {
    font-family: Montserrat-Light;
    src: url(assets/fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(assets/fonts/Montserrat-Medium.ttf);
}
$fontStack-light: Montserrat-Light;
$fontStack-bold: Montserrat-Bold;
$darkShade5: rgba(31, 32, 65, 0.05);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade50: rgba(31, 32, 65, 0.50);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade100: #1F2041;
$green: #6fcf97;
$purple: #bc9cff;