@font-face {
    font-family: Montserrat-Light;
    src: url(assets/fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(assets/fonts/Montserrat-Medium.ttf);
}
$fontStack-light: Montserrat-Light;
$fontStack-bold: Montserrat-Bold;