.types__h3 {
    text-align: right;
}
.h3_text {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    margin: 0px;
}
.position-h3 {
    position: absolute;
    top: 208px;
    left: 0px;
}