.types__h3 {
    height: 70px;
}
.types__h3_top-block {
    text-align: right;
}
.types__h3_text-block_text {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    margin: 0px;
}
.position-h3 {
    position: absolute;
    top: 208px;
    left: 0px;
}