div(class='types__h3 position-h3')
    div(class='types__h3_top-block inline')
        h3(class='types__h3_top-block_text top-types margin-top-types') H3
    div(class='types__h3_text-block inline')
        h3(class='types__h3_text-block_text') This is a label or CTA text