div(class='headerNotAuthorized__nav margin-nav')
    ul(class='headerNotAuthorized__nav_nav-bar') 
        li(class='headerNotAuthorized__nav_nav-bar_elements checked') О нас
        li(class='headerNotAuthorized__nav_nav-bar_elements srvices') Услуги <img src='headerNotAuthorized/nav/image/expand_more.svg'>
        li(class='headerNotAuthorized__nav_nav-bar_elements') Вакансии
        li(class='headerNotAuthorized__nav_nav-bar_elements') Новости
        li(class='headerNotAuthorized__nav_nav-bar_elements agreements') Соглашения <img src='headerNotAuthorized/nav/image/expand_more.svg'>
        