div(class='headerNotAuthorized__nav margin-nav-notAuthorized')
    ul(class='headerNotAuthorized__nav_nav-bar') 
        li(class='headerNotAuthorized__nav_nav-bar_elements checked') О нас <img src='assets/image/expand_more.svg'>
        li(class='headerNotAuthorized__nav_nav-bar_elements srvices') Услуги <img src='assets/image/expand_more.svg'>
        li(class='headerNotAuthorized__nav_nav-bar_elements') Вакансии <img src='assets/image/expand_more.svg'>
        li(class='headerNotAuthorized__nav_nav-bar_elements') Новости <img src='assets/image/expand_more.svg'>
        li(class='headerNotAuthorized__nav_nav-bar_elements agreements') Соглашения <img src='assets/image/expand_more.svg'>
        